body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

.teamo{

    font-size: 100px;
    font-weight:bold;
    color:#8B4513;
    text-align:center;
    animation:latido 2.0s infinite;
    text-shadow:
        0 0 10px rgba(139,69,19,0.5),
        0 0 20px rgba(139,69,19,0.4),
        0 0 40px rgba(139,69,19,0.3);

}

@keyframes latido{
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.15);
    }
}
body{
    background-color: black;
  
}
 .mensaje{
    color: #8B4513;
    font-size: 30px;
    text-align:inherit;
    margin-top: -50px;
}
body{
    margin:0;
    background:black;
    text-align:center;
}

